@import "../../mixins.scss";

.main-container {
  background: var(--white);
  padding: 40px 0;
  h2 {
    text-align: center;
    font-size: 18px;
    span {
      color: var(--green);
    }
    @include md {
      font-size: 28px;
    }
  }
  .carousel {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    .filler {
      background: var(--gray);
      padding: 5px;
      @include md {
        padding: 10px;
      }
    }
    .carouel-container {
      display: flex;
      justify-content: center;
      // flex-wrap: wrap;
      // flex-grow: 1;
      overflow-y: hidden;
      gap: 8px;
      @include md {
        gap: 12px;
        justify-content: space-between;
      }
      .single-carousel {
        .image-container {
          padding: 8px;
          border: 1px solid var(--gray);
          img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .content {
          margin-top: 8px;
          font-size: 12px;
          font-family: FLt;
          text-align: center;
          @include md {
            font-size: 18px;
          }
        }
        .line {
          display: block;
          width: 15%;
          margin: 0 auto;
          margin-top: 20px;
          height: 4px;
          background: var(--red);
        }
      }
    }
  }
}
